input {
    width:95%;
    height: 18%;
    border:1px solid #1c1c1c;
    border-radius: 3px;
    background-color: transparent;
    padding: 8px;
    margin-bottom: 4px;
    overflow-x: auto;
    color: #1c1c1c;
    font-family: Helvetica;
    font-size: 16px;
}
input:focus {
    border-radius: 2px;
}