@font-face {
  font-family: "satoshi-light";
  src: url("../../fonts/Satoshi-Light.ttf") format('truetype');
}

@font-face {
  font-family: "satoshi-bold";
  src: url("../../fonts/Satoshi-Bold.ttf") format('truetype');
}

body {
  margin: 0 auto;
  align-items: center;
  /* background-color: #dcdcdc; */
  /* background-color: #0c0c0c; */
}


#root {
  margin: 0 auto;
  justify-items: center;
}

#login-items {
  width: 420px;
}

#contents {
  display: flex;
  margin-top: 20px;
  /* padding: 40px; */
}

#central-div {
  padding: 5%;
  border-radius: 20px;
}


#buttons {
  display: flex;
  justify-content: right;
}

#central-elements {
  width: 520px;
  height: 150px;
  align-items: top;
  display: block;
}

  
  
  
  