.Switch {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

/* div de background pro botão */
.toggle-btn {
  background-color: #bdbdbd;
  border: 1;
  border-radius: 99px;
  width: 30px;
  height: 10px;
  transition: background-color 0.1s ease, border-color 0.2s ease;
  cursor: pointer;
  /* box-shadow: 1px 1px 10px #121341; */
  position: relative;
}

/* posicao inicial da bolinha */
.toggle-btn .thumb {
  height: 15px;
  width: 15px;
  border-radius: 99px;
  background-color: #0c0c0c;
  transform: translateX(0);
  transition: left 0.15s ease;
  position: absolute;
  left: -1px;
  top: 50%;
  transform: translateY(-50%);
}

/* controla o movimento da bolinha */
.toggle-btn.toggled .thumb {
  left: calc(50px - 35px);
  background-color: #ffffff;
}